<div class="fixed-table-container">
    <table class="ti-data-table table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th>
                    <span class="ti-data-table-header-row">Application</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <button mat-button color="primary" routerLink="TradeFinanceProcessing">Trade Finance Processing</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button mat-button color="primary" routerLink="SystemTailoring">System Tailoring</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button mat-button color="primary" routerLink="StaticDataMaintenance">Static Data Maintenance</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>