section {
    display: table;
}

.tailoring-section {
    background-color: cyan;
    color: blue;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5px;
    height: 25px;
}

.tailoring-button-row {
    display: table-cell;
    max-width: 100%;
}

.tailoring-button-row .mat-mdc-button-base {
    margin: 5px 5px 5px 0;
}  

.tailoring-label {
    display: table-cell;
    color: mediumblue;
    font-size: 15px;
    margin-left: 8px;
    min-width: 120px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button {
    height: 40px;
    width: 240px;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: bold;
}

.default {
    color: black;
}

.highlight {
    color: purple;
    background-color: lightblue;
    cursor: pointer;
}