<p>system-tailoring works!</p>
<div>
    <div class="tailoring-section">
        Zone
    </div>
    <section>
        <div class="tailoring-button-row">
            <div class="tailoring-label">General system definition</div>
            <button mat-button color="primary">Zone options</button>
            <button mat-button color="primary">External system definition</button>
            <button mat-button color="primary">Document Printer types</button>
            <button mat-button color="primary">Configure bank definable browsers</button>
            <mat-divider></mat-divider>
            <button mat-button color="primary">Corporate access system</button>
            <button mat-button color="primary">Printer mappings</button>
            <button mat-button color="primary">Product groups</button>
            <button mat-button color="primary">Styles</button>
            <mat-divider></mat-divider>
        </div>
    </section>
    <section>
        <div class="tailoring-button-row">
            <div class="static-label">General business functions</div>
            <button mat-button color="primary">Business areas</button>
            <button mat-button color="primary">List values</button>
            <button mat-button color="primary">Enquiry responses</button>
            <mat-divider></mat-divider>
            <button mat-button color="primary">Workflow orchestration step</button>
            <button mat-button color="primary">Workflow orchestration templates</button>
            <button mat-button color="primary">Watch list checker definition</button>
            <mat-divider></mat-divider>
            <button mat-button color="primary">Party roles</button>
            <button mat-button color="primary">List values / Field mapping</button>
            <mat-divider></mat-divider>
            <button mat-button color="primary">Event headers</button>
            <button mat-button color="primary">Browse and output field codes</button>
        </div>
    </section>

    <div class="tailoring-section">
        Branch level data
    </div>

    <section>
        <div class="tailoring-button-row">
            <div class="static-label">General branch definition</div>
            <button mat-button color="primary">Branch options/Service mappings</button>
            <button mat-button color="primary">Billing</button>
            <button mat-button color="primary">Customer expiry grace days</button>

            <mat-divider></mat-divider>

            <button mat-button color="primary">Cheque numbers</button>
            <button mat-button color="primary">Finance default mappings</button>
            <button mat-button color="primary">Charge billing group definition</button>

            <mat-divider></mat-divider>
            <button mat-button color="primary">Local customer definition</button>
            <button mat-button color="primary">Default days</button>
            <button mat-button color="primary">Charge billing group references</button>
        </div>
    </section>
    <section>
        <div class="tailoring-button-row">
            <div class="static-label">Product</div>
            <button mat-button color="primary">Reference definition</button>
            <button mat-button color="primary" routerLink="AttachedDocumentTypeBrowser">Attached Document Type</button>
        </div>
    </section>

</div>
