<div>
    <div class="tailoring-section">
        Zone
    </div>
    <section>
        <div class="tailoring-button-row">
            <div class="tailoring-label">General system definition</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" color="primary">Zone options</button>&nbsp;
            <button class="button default" color="primary">External system definition</button>&nbsp;
            <button class="button default" color="primary">Document Printer types</button>&nbsp;
            <button class="button default" color="primary">Configure bank definable browsers</button>&nbsp;
            <hr/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" color="primary">Corporate access system</button>&nbsp;
            <button class="button default" color="primary">Printer mappings</button>&nbsp;
            <button class="button default" color="primary">Product groups</button>&nbsp;
            <button class="button default" color="primary">Styles</button>&nbsp;
        </div>
    </section>
    <section>
        <div class="tailoring-button-row">
            <div class="tailoring-label">General business functions</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" color="primary">Business areas</button>&nbsp;
            <button class="button default" color="primary">List values</button>&nbsp;
            <button class="button default" color="primary">Enquiry responses</button>&nbsp;
            <hr/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" color="primary">Workflow orchestration step</button>&nbsp;
            <button class="button default" color="primary">Workflow orchestration templates</button>&nbsp;
            <button class="button default" color="primary">Watch list checker definition</button>&nbsp;
            <hr/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" color="primary">Party roles</button>&nbsp;
            <button class="button default" color="primary">List values / Field mapping</button>&nbsp;
            <hr/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" color="primary">Event headers</button>&nbsp;
            <button class="button default" color="primary">Browse and output field codes</button>&nbsp;
        </div>
    </section>

    <div class="tailoring-section">
        Branch level data
    </div>

    <section>
        <div class="tailoring-button-row">
            <div class="tailoring-label">General branch definition</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" color="primary">Branch options/Service mappings</button>&nbsp;
            <button class="button default" color="primary">Billing</button>&nbsp;
            <button class="button default" color="primary">Customer expiry grace days</button>&nbsp;
            <hr/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" color="primary">Cheque numbers</button>&nbsp;
            <button class="button default" color="primary">Finance default mappings</button>&nbsp;
            <button class="button default" color="primary">Charge billing group definition</button>&nbsp;
            <hr/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" color="primary">Local customer definition</button>&nbsp;
            <button class="button default" color="primary">Default days</button>&nbsp;
            <button class="button default" color="primary">Charge billing group references</button>&nbsp;
        </div>
    </section>
    <section>
        <div class="tailoring-button-row">
            <div class="tailoring-label">Product</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" color="primary">Reference definition</button>&nbsp;
            <button class="button default" color="primary" routerLink="AttachedDocumentTypeBrowser">Attached Document Type</button>&nbsp;
        </div>
    </section>

</div>
