<form [formGroup]="loginForm">

    <h1 class="center">Login</h1>

    <div *ngIf="unauthenticated" style="color:red">
        Username or Password incorrect!
    </div>
    <p>

    <div class="center">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput name="username" formControlName="username">
        </mat-form-field>
    </div>
    <div class="center">
        <mat-form-field>
            <mat-label>Password: </mat-label>
            <input matInput name="password" formControlName="password" 
                    type="password">
        </mat-form-field>
    </div>
    <p>
    <p>
    <div class="center">
        <button mat-raised-button color="primary" 
                (click)="login()"
                [disabled]="logginIn"
                >Login</button>
        <span>
            <mat-spinner *ngIf="logginIn"></mat-spinner>
        </span>
    </div>
</form>