<p>
<p>
<div>
    <table style="width:50%;">
        <tbody>
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label for="AttachedDocumentTypeCode">Code</mat-label>
                        <input matInput id="AttachedDocumentTypeCode" maxlength="3" [disabled]="loading"
                            (input)="onInputCode($event)">
                    </mat-form-field>

                </td>
                <td>
                    <div>
                        <mat-form-field>
                            <mat-label for="AttachedDocumentTypeType">Type</mat-label>
                            <select matNativeControl id="AttachedDocumentTypeType" [disabled]="loading" #selection
                                (change)="onSelectType(selection.value)">
                                <option value="All">All</option>
                                <option value="Documents">Documents</option>
                                <option value="General">General</option>
                            </select>
                        </mat-form-field>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label for="AttachedDocumentTypeDescription">Description</mat-label>
                        <input matInput id="AttachedDocumentTypeDescription" maxlength="35" [disabled]="loading"
                            (input)="onInputDescription($event)">
                    </mat-form-field>
                </td>
                <td>
                    <button mat-raised-button color="primary" id="Refresh" (click)="onRefresh()" [disabled]="loading">
                        <span>
                            <mat-spinner *ngIf="loading"></mat-spinner>
                        </span>
                        Refresh
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    
    <!-- display table if we have items to show -->
    <hr  *ngIf="itemCount"/>
    <table mat-table [dataSource]="items" id="tableDetails" *ngIf="itemCount">
        <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let item"> {{item.showType}} </td>
        </ng-container>

        <ng-container matColumnDef="Key">
            <th mat-header-cell *matHeaderCellDef>Code</th>
            <td mat-cell *matCellDef="let item"> {{item.Key}} </td>
        </ng-container>

        <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let item"> {{item.Description}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedHeaderColumn"></tr>
        <tr mat-row *matRowDef="let item; columns: displayedHeaderColumn;" (click)="getRecord(item)"
            [class.blue]="selectedItem.Key === item.Key" class="record-element-row"></tr>
    </table>

    <!-- display other buttons -->
    <hr/>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <app-static-buttons-component (notifyParent)="onClickStaticButtons($event)" [loading]="loading"
            [selected]="selected">
        </app-static-buttons-component>

</div>