<div>
    <div class="static-section">
        Overall Zone level data
    </div>
    <section>
        <div class="static-button-row">
            <div class="static-label">General</div>
            <button mat-button color="primary">Customer types</button>
            <button mat-button color="primary">Analysis codes</button>
            <button mat-button color="primary">Instruction group</button>
            <button mat-button color="primary">BPO codes</button>
            <mat-divider></mat-divider>
            <button mat-button color="primary">Transfer methods</button>
            <button mat-button color="primary">Note types</button>
            <button mat-button color="primary">Address types</button>
            <button mat-button color="primary">Account officers</button>
            <mat-divider></mat-divider>
            <button mat-button color="primary">Charge groups</button>
            <button mat-button color="primary">Branch entity types</button>
        </div>
    </section>
    <section>
        <div class="static-button-row">
            <div class="static-label">Country</div>
            <button mat-button color="primary">Countries</button>
            <button mat-button color="primary">Currencies</button>
            <button mat-button color="primary">Calendars</button>
            <mat-divider></mat-divider>
            <button mat-button color="primary">Languages</button>
            <button mat-button color="primary">Trade Finance dictionary</button>
            <button mat-button color="primary">Static data language description</button>
        </div>
    </section>
    <section>
        <div class="static-button-row">
            <div class="static-label">Accounting</div>
            <button mat-button color="primary">Account types</button>
            <button mat-button color="primary">Charge codes</button>
            <button mat-button color="primary">Transaction codes</button>
            <mat-divider></mat-divider>
            <button mat-button color="primary">System parameters</button>
            <button mat-button color="primary">Deal types</button>
        </div>
    </section>

    <section>
        <div class="static-button-row">
            <div class="static-label">FX/Base rate codes</div>
            <button mat-button color="primary">FX rate codes</button>
            <button mat-button color="primary">Base rate codes</button>
            <button mat-button color="primary">Group base rate codes</button>
            <button mat-button color="primary">Differential rates</button>
        </div>
    </section>
    <section>
        <div class="static-button-row">
            <div class="static-label">Trade</div>
            <button mat-button color="primary">Good codes</button>
            <button mat-button color="primary">Collateral types</button>
            <button mat-button color="primary">Document of title</button>
            <button mat-button color="primary">Incoterms</button>
            <mat-divider></mat-divider>
            <button mat-button color="primary">Statistics</button>
            <button mat-button color="primary">Sub-guarantee data fields</button>
            <button mat-flat-button color="primary" routerLink="AttachedDocumentTypeBrowser">Document Type</button>
            <button mat-button color="primary">COE account types</button>
        </div>
    </section>
    <section>
        <div class="static-button-row">
            <div class="static-label">SWIFT</div>
            <button mat-button color="primary">SWIFT BIC</button>
            <button mat-button color="primary">SWIFT reject codes</button>
            <button mat-button color="primary">SWIFT BIC Plus IBAN</button>
            <mat-divider></mat-divider>
            <button mat-button color="primary">SWIFT clearing codes</button>
            <button mat-button color="primary">SWIFT IBAN Structure</button>
        </div>
    </section>

    <div class="static-section">
        Branch level data
    </div>

    <section>
        <div class="static-button-row">
            <div class="static-label">Branches</div>
            <button mat-button color="primary">Branches</button>
            <button mat-button color="primary">Insurance</button>
        </div>
    </section>
    <section>
        <div class="static-button-row">
            <div class="static-label">Branches</div>
            <button mat-button color="primary">Branches</button>
            <button mat-button color="primary">Insurance</button>
        </div>
    </section>
    <section>
        <div class="static-button-row">
            <div class="static-label">Customer maintenance</div>
            <button mat-button color="primary">Customer details</button>
            <button mat-button color="primary">Addresses</button>
            <button mat-button color="primary">TI customer details</button>
            <button mat-button color="primary">Groups</button>
            <mat-divider></mat-divider>
            <button mat-button color="primary">Settlement instructions</button>
            <button mat-button color="primary">Correspondents</button>
            <button mat-button color="primary">Groups</button>
        </div>
    </section>
    <section>
        <div class="static-button-row">
            <div class="static-label">Supply chain finance</div>
            <button mat-button color="primary">Programme sub-types</button>
            <button mat-button color="primary">Programmes</button>
        </div>
    </section>
    <section>
        <div class="static-button-row">
            <div class="static-label">Accounts</div>
            <button mat-button color="primary">Accounts</button>
            <button mat-button color="primary">Nostros</button>
            <button mat-button color="primary">Default nostros</button>
            <button mat-button color="primary">Clearing System IDs</button>
        </div>
    </section>
    <section>
        <div class="static-button-row">
            <div class="static-label">Rates</div>
            <button mat-button color="primary">FX rates</button>
            <button mat-button color="primary">Spot rates</button>
            <button mat-button color="primary">Base rates</button>
        </div>
    </section>
    <section>
        <div class="static-button-row">
            <div class="static-label">Download</div>
            <button mat-button color="primary">Define static data messages</button>
            <button mat-button color="primary">Download static data</button>
            <button mat-button color="primary">Take on</button>
        </div>
    </section>

    <div class="static-section">
        General
    </div>
    <section>
        <div class="static-button-row">
            <div class="static-label">Report</div>
            <button mat-button color="primary">Run</button>
        </div>
    </section>

</div>
