.zone {
    background-color: aqua;
    font-weight: bold;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
    display: table;
}

.static-section {
    background-color: aqua;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5px;
}

.static-button-row {
    display: table-cell;
    max-width: 100%;
}

.static-button-row .mat-mdc-button-base {
    margin: 5px 5px 5px 0;
}  
.static-label {
    display: table-cell;
    font-size: 13px;
    margin-left: 8px;
    min-width: 120px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#p0 {
    text-indent: 50em;
}

.button {
    height: 35px;
    width: 250px;
    color: gray;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
}

.default {
    color: black;
}

.highlight {
    color: purple;
    background-color: lightblue;
    cursor: pointer;
}