<div>
    <div class="static-section">
        Overall Zone level data
    </div>
    <section>
        <div class="static-button-row">
            <div class="static-label">General</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" >Customer types</button>&nbsp;
            <button class="button default" >Analysis codes</button>&nbsp;
            <button class="button default" >Instruction group</button>&nbsp;
            <button class="button default" >BPO codes</button>&nbsp;
            <hr/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" >Transfer methods</button>&nbsp;
            <button class="button default" >Note types</button>&nbsp;
            <button class="button default" >Address types</button>&nbsp;
            <button class="button default" >Account officers</button>&nbsp;
            <hr/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" >Charge groups</button>&nbsp;
            <button class="button default" >Branch entity types</button>&nbsp;
        </div>
    </section>
    <section>
        <div class="static-button-row">
            <div class="static-label">Country</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" >Countries</button>&nbsp;
            <button class="button default" >Currencies</button>&nbsp;
            <button class="button default" >Calendars</button>&nbsp;
            <hr/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" >Languages</button>&nbsp;
            <button class="button default" >Trade Finance dictionary</button>&nbsp;
            <button class="button default" >Static data language description</button>&nbsp;
        </div>
    </section>
    <section>
        <div class="static-button-row">
            <div class="static-label">Accounting</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" >Account types</button>&nbsp;
            <button class="button default" >Charge codes</button>&nbsp;
            <button class="button default" >Transaction codes</button>&nbsp;
            <hr/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" >System parameters</button>&nbsp;
            <button class="button default" >Deal types</button>&nbsp;
        </div>
    </section>
    <section>
        <div class="static-button-row">
            <div class="static-label">FX/Base rate codes</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" >FX rate codes</button>&nbsp;
            <button class="button default" >Base rate codes</button>&nbsp;
            <button class="button default" >Group base rate codes</button>&nbsp;
            <button class="button default" >Differential rates</button>&nbsp;
        </div>
    </section>
    <section>
        <div class="static-button-row">
            <div class="static-label">Trade</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" >Good codes</button>&nbsp;
            <button class="button default" >Collateral types</button>&nbsp;
            <button class="button default" >Document of title</button>&nbsp;
            <button class="button default" >Incoterms</button>&nbsp;
            <hr/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" >Statistics</button>&nbsp;
            <button class="button default" >Sub-guarantee data fields</button>&nbsp;
            <button class="button highlight" routerLink="AttachedDocumentTypeBrowser">Document Type</button>&nbsp;
            <button class="button default" >COE account types</button>&nbsp;
        </div>
    </section>
    <section>
        <div class="static-button-row">
            <div class="static-label">SWIFT</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" >SWIFT BIC</button>&nbsp;
            <button class="button default" >SWIFT reject codes</button>&nbsp;
            <button class="button default" >SWIFT BIC Plus IBAN</button>&nbsp;
            <hr/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" >SWIFT clearing codes</button>&nbsp; 
            <button class="button default" >SWIFT IBAN Structure</button>&nbsp;
        </div>
    </section>

    <br>
    <div class="static-section">
        Branch level data
    </div>

    <section>
        <div class="static-button-row">
            <div class="static-label">Branches</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" >Branches</button>&nbsp;
            <button class="button default" >Insurance</button>&nbsp;
        </div>
    </section>
    <section>
        <div class="static-button-row">
            <div class="static-label">Branches</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" >Branches</button>&nbsp;
            <button class="button default" >Insurance</button>&nbsp;
        </div>
    </section>
    <section>
        <div class="static-button-row">
            <div class="static-label">Customer maintenance</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" >Customer details</button>&nbsp;
            <button class="button default" >Addresses</button>&nbsp;
            <button class="button default" >TI customer details</button>&nbsp;
            <button class="button default" >Groups</button>&nbsp;
            <hr/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" >Settlement instructions</button>&nbsp;
            <button class="button default" >Correspondents</button>&nbsp;
            <button class="button default" >Groups</button>&nbsp;
        </div>
    </section>
    <section>
        <div class="static-button-row">
            <div class="static-label">Supply chain finance</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" >Programme sub-types</button>&nbsp;
            <button class="button default" >Programmes</button>&nbsp;
        </div>
    </section>
    <section>
        <div class="static-button-row">
            <div class="static-label">Accounts</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" >Accounts</button>&nbsp;
            <button class="button default" >Nostros</button>&nbsp;
            <button class="button default" >Default nostros</button>&nbsp;
            <button class="button default" >Clearing System IDs</button>&nbsp;
        </div>
    </section>
    <section>
        <div class="static-button-row">
            <div class="static-label">Rates</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" >FX rates</button>&nbsp;
            <button class="button default" >Spot rates</button>&nbsp;
            <button class="button default" >Base rates</button>&nbsp;
        </div>
    </section>
    <section>
        <div class="static-button-row">
            <div class="static-label">Download</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" >Define static data messages</button>&nbsp;
            <button class="button default" >Download static data</button>&nbsp;
            <button class="button default" >Take on</button>&nbsp;
        </div>
    </section>

    <br>
    <div class="static-section">
        General
    </div>
    <section>
        <div class="static-button-row">
            <div class="static-label">Report</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button default" >Run</button>&nbsp;
        </div>
    </section>
    <br>
</div>
